body {
	margin: 0;
	padding: 0;
	background: #eee;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

ul {
	list-style: none;
}

#navbar {
	z-index: 9;
}
